<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="appmsw-forbid-old-passwd.ZPM">
    <Module>
      <Name>appmsw-forbid-old-passwd</Name>
      <Version>1.0.4</Version>
      <Description>Prohibit the use of old passwords.</Description>
	  <Keywords>admin</Keywords>
		<Author>
		<Person>Mikhaylenko Sergey</Person>
		<CopyrightDate>2021</CopyrightDate>
		<License>MIT</License>
		<Notes>
repository:
https://github.com/SergeyMi37/appmsw-forbid-old-passwd

description:
To meet the requirements of section 8.2.5 PCI DSS "Prohibit the use of old passwords", a small application has been implemented that will be launched by the system when a user tries to change a password and check if it was used before.
%SYS>set ss=##class(Security.System).%OpenId("SYSTEM")
%SYS>set ss.PasswordValidationRoutine="CHECK^PASSWORD.MAC"
%SYS>write ss.%Save()
1
		</Notes>
		</Author>
      <Packaging>module</Packaging>
  <SourcesRoot>src</SourcesRoot>
      <Resource Name="PASSWORD.MAC" />
<AfterInstallMessage>You can install program:
&#13;set ss=##class(Security.System).%OpenId("SYSTEM")
&#13;set ss.PasswordValidationRoutine="CHECK^PASSWORD.MAC"
&#13;write ss.%Save()</AfterInstallMessage>
    </Module>
  </Document>
</Export>
